.app {
	/* text-align: center; */
	width: 500px;
	border: 1px solid red;
}
.todoForm {
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.id {
	border: 1px solid green;
	border-radius: 50%;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: 3px;
}

.todoInput {
	width: 250px;
	border: rgb(160, 160, 5);
	background: rgb(246, 246, 183);
	border-radius: 10px;
	color: grey;
	margin: 0 30px;
	padding: 0 10px;
}
.checkbox {
	margin: 10px;
	width: 15px;
	height: 15px;
	justify-content: center;
	align-items: center;
}

.searchTask {
	border: 1px solid red;
	margin: 3px;
	width: 100%;
	padding: 0 10px;
	border-radius: 10px;
	justify-content: start;
	align-items: center;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
}
